<li class="card search-result my-2">
<div class="info px-3 pt-2 pb-3">
<div>
<h5 class="title w-100 truncate"><a href="/torrents/lil-baby-street-gossip-2018-mp3-320kbps-hunter-585f1/5c06c64cb2b0256b199c14f0/" data-token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoidG9ycmVudHMiLCJhY3Rpb24iOiJ2aWV3IiwiaWRzIjpbIjVjMDZjNjRjYjJiMDI1NmIxOTljMTRmMCJdLCJpYXQiOjE2NTcyMjM5MDYsImV4cCI6MTY1ODUxOTkwNn0.ngchEWXpXQC7Q00NxTDiH2V7so4BdXnFe9qJ3a40LZY">Lil Baby - Street Gossip (2018) Mp3 (320kbps) [Hunter]</a> ✅
</h5>
<div>
<a class="category">Music/mp3</a>
<div class="stats">
<div><img src="/icons/download.svg" alt="Download" style="transform: translateY(-2px)">13.1K</div>
<div><img src="/icons/size.svg" alt="Size" style="transform: translateY(-2px)">100 MB</div>
<div><img src="/icons/seeder.svg" alt="Seeder" style="transform: translateY(-2px)">
<font color="#0AB49A">26</font>
</div>
<div><img src="/icons/leacher.svg" alt="Leecher" style="transform: translateY(-2px)">
<font color="#C35257">25</font>
</div>
<div><img src="/icons/calendar.svg" alt="Date" style="transform: translateY(-2px)">Dec 4, 2018</div>
</div>
</div>
</div>
</div>

<div class="links center-flex hide-on-small px-3">
<a href="https://itorrents.org/torrent/525A8795EEAB08A0244BED038E954D56FC04946B.torrent?title=[Bitsearch.to]Lil Baby - Street Gossip (2018) Mp3 (320kbps) [Hunter]" data-token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoidG9ycmVudHMiLCJhY3Rpb24iOiJkb3dubG9hZCIsImlkcyI6WyI1YzA2YzY0Y2IyYjAyNTZiMTk5YzE0ZjAiXSwiaWF0IjoxNjU3MjIzOTA2LCJleHAiOjE2NTg1MTk5MDZ9.I4phDK48f0FsER4Tp8pyzCniihUUU1TcsFyUQizTGFM" rel="noreferrer" target="_blank" class="dl-torrent"><img src="/icons/download-torrent.svg" alt="Torrent" title="Download .torrent file"></a>
<a href="magnet:?xt=urn:btih:525A8795EEAB08A0244BED038E954D56FC04946B&amp;tr=udp%3A%2F%2Ftracker.bitsearch.to%3A1337%2Fannounce&amp;tr=udp%3A%2F%2Ftracker.zerobytes.xyz%3A1337%2Fannounce&amp;tr=udp%3A%2F%2Ftracker.torrent.eu.org%3A451%2Fannounce&amp;tr=udp%3A%2F%2Fwww.torrent.eu.org%3A451%2Fannounce&amp;tr=udp%3A%2F%2F9.rarbg.com%3A2920%2Fannounce&amp;dn=%5BBitsearch.to%5D+Lil+Baby+-+Street+Gossip+(2018)+Mp3+(320kbps)+%5BHunter%5D" data-token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0eXBlIjoidG9ycmVudHMiLCJhY3Rpb24iOiJkb3dubG9hZCIsImlkcyI6WyI1YzA2YzY0Y2IyYjAyNTZiMTk5YzE0ZjAiXSwiaWF0IjoxNjU3MjIzOTA2LCJleHAiOjE2NTg1MTk5MDZ9.I4phDK48f0FsER4Tp8pyzCniihUUU1TcsFyUQizTGFM" class="dl-magnet"><img src="/icons/download-magnet.svg" alt="Magnet" title="Magnet Link"></a>
</div>
</li>



https://stackoverflow.com/questions/16270761/how-to-insert-a-large-block-of-html-in-javascript






<div class="card card-chart">
  <div class="card-header">
      <h3 class="card-title"></i><%= it.imdbData.title %> </h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="font-icon-list col-lg-6 col-md-3 col-sm-4 col-xs-6 col-xs-6">
        <img src="<%= it.imdbData.image %>" alt="">
      </div>
      <div class="font-icon-list col-lg-6 col-md-3 col-sm-4 col-xs-6 col-xs-6">
        <div class="card-header">
            <h5>Rating: <%= it.imdbData.imDbRating %></h5>
            <h5>Year: <%= it.imdbData.year %></h5>
            <h5>PG: <%= it.imdbData.contentRating %></h5>
        </div>
        <p><%= it.imdbData.plot %></p>
      </div>
    </div>
  </div>
</div>
