<div class="sidebar" data="blue">
  <div class="sidebar-wrapper">
    <div class="logo">
      <!-- <a href="javascript:void(0)" class="simple-text logo-mini">
        CT
      </a> -->
      <a href="javascript:void(0)" class="simple-text logo-normal">
        Seenit
      </a>
    </div>
    <ul class="nav">
      <li  id='Dashboard' class="">
        <a href="/search?q=hi">
          <i class="tim-icons icon-chart-pie-36"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li id='Console'>
        <a href="/console">
          <i class="tim-icons icon-compass-05"></i>
          <p>Console</p>
        </a>
      </li>
      <li>
        <a href="./map.html">
          <i class="tim-icons icon-pin"></i>
          <p>Maps</p>
        </a>
      </li>
    </ul>
  </div>
</div>

<script type="text/javascript">
    document.getElementById('<%= it.page %>').classList.add('active');
</script>
