<% layout('layout.html', {page: 'Dashboard'})%>


<div class="container mx-auto mt-6 center">

  <div class="grid gap-4 grid-cols-1 grid-rows-1 mt-10">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Search:</h2>
        <input type="text" placeholder="Type here" class="input input-bordered " />
      </div>
    </div>
  </div>



  <div class="grid gap-4 grid-cols-2 grid-rows-1 mt-10">
    <div class="card card-side bg-base-100 shadow-xl">
      <img width="200" height="200" src="https://m.media-amazon.com/images/M/MV5BN2NkYTdlYjAtNWY5NC00MTY0LWIyZTItNmViMWJjNWM3YzUzXkEyXkFqcGdeQXVyMTE2NTYzNTQy._V1_Ratio0.7046_AL_.jpg" alt="Movie">
      <div class="card-body">
        <h2 class="card-title">Lakshya<div class="badge badge-primary">5.3</div></h2>
        <h5>Year: 2021</h5>
        <h5>PG: null </h5>
        <p>Pardhu is an archer who wants to represent India at the World Championships. How does he bounce back and achieve what he wants after losing track? </p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary"><a href="/">IMdB</a></button>
        </div>
      </div>
    </div>

    <div class="card card-side bg-base-100 shadow-xl">
      <div class="card-body">
        <div class="overflow-auto w-full h-64">
          <h2 class="card-title">Files</h2>
          <table class="table-normal overflow-auto w-full">
            <!-- head -->
            <thead>
              <tr>
                <th>Download</th>
                <th>Filename</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>
                  <label>
                    <input type="checkbox" class="checkbox"/>
                  </label>
                </th>
                <td>
                  Molodoy-Chelovek_FTR-1_S_RU-XX_51-HI-VI_2K_20220606_VF-1_audio_01.mxf - 8 GB
                </td>
              </tr>
            </tbody>
          </table>
          <button class="btn btn-ghost btn-xs">details</button>
        </div>
      </div>
    </div>

  </div>

  <div class="grid gap-4 grid-cols-1 grid-rows-1 mt-10">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Files Found</h2>
        <p>Testing dsfsdfsdfsd</p>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th>File Name</th>
                <th>Type</th>
                <th>Seeders</th>
                <th>Size</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- row 1 -->
              <tr>
                <th>1980 ACDC - Back In Black (2020 Hi-Res 24.96) flac</th>
                <td>Other/Audio</td>
                <td>129</td>
                <td>1.04 GB</td>
                <td>
                  <button class="btn btn-ghost btn-square" type="button" name="button"><i class="fa-solid fa-tv"></i></button>
                </td>
                <td>
                  <button class="btn btn-ghost btn-square" type="button" name="button"><i class="fa-solid fa-file-arrow-down"></i></button>
                </td>
              </tr>
              <tr>
                <th>1980 ACDC - Back In Black (2020 Hi-Res 24.96) flac</th>
                <td>Other/Audio</td>
                <td>129</td>
                <td>1.04 GB</td>
                <td>
                  <button class="btn btn-ghost btn-square" type="button" name="button"><i class="fa-solid fa-tv"></i></button>
                </td>
                <td>
                  <button class="btn btn-ghost btn-square" type="button" name="button"><i class="fa-solid fa-file-arrow-down"></i></button>
                </td>
              </tr>
              

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
