<% layout('layout.html', {page: 'Dashboard'})%>


<div class="container mx-auto mt-6 center">

  <div class="grid gap-4 grid-cols-2 grid-rows-1 mt-10">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Seenit Server Status<div class="badge badge-primary">Active</div></h2>
        <p>Testing dsfsdfsdfsd</p>
        <span>Version: v0.0.4</span>
        <span>Ip Adress: 10.0.0.145</span>
        <span>Uptime: 34Hr</span>
        <span>Storage: <progress class="progress w-56" value="43" max="100"></progress></span>
        <span>Ram: <progress class="progress w-56" value="43" max="100"></progress></span>
        <span>Cpu: <progress class="progress w-56" value="43" max="100"></progress></span>
      </div>
    </div>

    <div class="card w-100 bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title place-content-center">Current Torrent Status</h2>
        <div class="flex justify-center">
          <div class="radial-progress" style="--value:70; --size:12rem; --thickness: 10px;">70%</div>
        </div>
        <p>Downloading in progress</p>
      </div>
    </div>

  </div>

  <div class="grid gap-4 grid-cols-1 grid-rows-1 mt-10">
    <div class="card bg-base-100 shadow-xl">
      <div class="card-body">
        <h2 class="card-title">Download Queue</h2>
        <p>Testing dsfsdfsdfsd</p>
        <div class="overflow-x-auto">
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Job</th>
                <th>Favorite Color</th>
              </tr>
            </thead>
            <tbody>
              <!-- row 1 -->
              <tr>
                <th>1</th>
                <td>Cy Ganderton</td>
                <td>Quality Control Specialist</td>
                <td>Blue</td>
              </tr>
              <!-- row 2 -->
              <tr>
                <th>2</th>
                <td>Hart Hagerty</td>
                <td>Desktop Support Technician</td>
                <td>Purple</td>
              </tr>
              <!-- row 3 -->
              <tr>
                <th>3</th>
                <td>Brice Swyre</td>
                <td>Tax Accountant</td>
                <td>Red</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
