<!DOCTYPE html>
<html data-theme="night" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seenit</title>
    <!-- tailwind CDN -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/5c0f035977.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <div class="navbar bg-base-300">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost normal-case text-xl">Seenit</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <div class="form-control">
          <input type="text" placeholder="Search" class="input input-bordered" onkeydown="searchFunction(this)"/>
        </div>
        <li><a href="/con" >Console</a></li>
      </ul>
    </div>
  </div>

    <%~ it.body %>

</body>

<script type="text/javascript">
  async function searchFunction(data) {
    if (event.key != 'Enter') {
      return
    }
    if (data.value != ""){
      window.location.replace(`http://${window.location.host}/dash?q=${data.value}`);
    }
  }

</script>

</html>
